.body{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #535353;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.h1{
	position: absolute;
	left: 10px;
	top: 50%;
	font-weight: bold;
	font-size: 40px;
}
.text{
	position: absolute;
	top: 55%;
}
.ui{
	float: left;
	width: 30px;
	height: 30px;
	background: red;
	position: relative;
}
.box{
	margin-top: 2%;
	background: #989898;
	text-align: center;
	position: relative;
	z-index: 10;
	border-radius: 15px;
}
.key>span{
	display: inline-block;
	margin-top: 30px;
	font-size: 30px;
}
.key{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 15px;
	z-index: 20;
}
.num{
	padding: 10px 20px;
	position: absolute;
	right: 20%;
	top: 5%;
	color: #4F7CF9;
	background: #000000
}
.all{
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.tip{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	margin: auto;
	background: white;
	text-align: center;
	font-size: 20px;
	z-index: 101;
}
#count{
	font-weight: bold;
	font-size: 120%;
}
.btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20%;
}
.sure,.refuse{
	width: 50%;
	padding-top: 15px;
	float: left;
}
.en{
	display: none;
}
.input{
	overflow: hidden;
}
.input>input{
	width: 70px;
	height: 30px;
	font-size: 20px;
}
.ch{
	text-align: center;
	width: 70px;
	height: 30px;
	display: inline-block;
	background: #B2E695;
	color: #FF4509;
	border-radius: 5px;
}
